{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="float-left">
        <button class="btn btn-success mb-2">{{ button_label|default('SAVE') }}</button>
    </div>
{{ form_end(form) }}
