{{ form_start(form) }}
    <h2>Addresses</h2>

    <a class="btn btn-primary js--add-address" href="#">ADD ADDRESS</a>

    <div class="address-list">
        {{ form_widget(form) }}
    </div>
{{ form_end(form) }}
