<h3>Addresses</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>City</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
    {% for address in addresses %}
        <tr>
            <td>{{ address.city }}</td>
            <td>{{ address.address }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
